[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
ansible-tower-cli = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "2.7"
